* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'CO59';
  }
  
  nav {
    height: 65px;
    background: #1a1c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
  }
  
  nav a:hover {
    color: #566c86;
    font-size: 25px;
  }
  
  body {
    font-size: 17px;
    background: #333c57;
    color: #f4f4f4;
  }
  body a:hover{
    color: #566c86;
    font-size: 20px;
  }
  body a{
    color: #3b5dc9;
  }
  